/*
    @v_thanh
    Button css
*/
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* 
    @v_thanh
    Landing Css
*/

.Landing {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.Landing .row .col-md-4 {
    padding-bottom: 4%;
}

.card {
    width: 18rem;
}

/*
    @v_thanh
    Nav Css
*/

.firstnav {
    background: #353535;
    padding: 1px;
    height: 30px;
}

.firstnav h1 {
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.firstnav p {
    color: #cecece;
    line-height: 28px;
}

.navbar {
    background: #003C6C;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
}

.nav-link {
    color: white;
    padding-bottom: 0.25em;
    font-weight: bold;
    transition: 0.5s;
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.nav-link:hover {
    background-color: black !important;
    color: white !important;
    border-radius: 5px;
}

.nav-ul > li {
    color: black !important;
}

/* 
  @v_thanh
  about css
*/

.jumbotron {
    margin-bottom: 0 !important;
}

.about_medium_image {
    width: 100%;
    height: auto;
}

/**
    @v_thanh
    login page
*/
.card-login {
    width: auto;
}
.card-login-col {
    padding-top: 1%;
}

/**
    @v_thanh
    register page
*/
.card-register {
    width: auto;
}
.card-register-col {
    padding-top: 1%;
}

/**
    @v_thanh
    Cat Cart Page Css
*/
.box-list-cat {
    background: #ffffff;
    border: 1px solid #ececec;
    border-radius: 4px;
}

.box-list-cat-total {
    background: #ffffff;
    border: 1px solid #ececec;
    border-radius: 4px;
}

.title-des {
    background: #117c47;
    border-radius: 4px 4px 0 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.landing-loaded {
    display: none;
}

.p-price-cart {
    color: #ff3425;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.cart-cats-name {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
}
